<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Tailwind CDN -->
</head>
<body class="bg-zinc-700">
     <a class="text-blue-500 inline-block mb-10" href="/">go back</a>
        <div class="form p-4 ">
      <form action="/edit" method="POST">
        <input class=" w-1/4 block px-5 py-2 bg-zinc-800 text-white  mb-3 rounded" type="text" name="title" placeholder="Old title" value="<%=filename %>">
        <textarea class=" w-1/4 block px-5 py-2 bg-zinc-800 text-white  resize-none mb-3 rounded h-12" name="details" placeholder="New title" rows="5" value=""></textarea>
        <input class="px-5 py-2 bg-blue-600 text-white rounded cursor-pointer hover:bg-blue-700" type="submit" value="Submit">
      </form>
</body>
</html>