<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi there</title>
  <link rel="stylesheet" href="/style.css"> 
</head>
<body>
  <h1>Hello</h1>
  <form action="/register" method="post">
    <input type="text" name="username" placeholder="Enter your name" required>
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <input type="number" name="age" placeholder="age" min="1" max="100" required>
    <button type="submit">Submit</button>
  </form>

  <script src="/app.js"></script>
</body>
</html>
