*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    color: white;

}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all 0.2s linear;
    mix-blend-mode:exclusion ;

}
h1{
    font-size: 100px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .custom {
    height: 10px;
    width: 10px;
  }
}
.heading{
    
   background-color: black;
   display: flex;
   justify-content: center;
   }
.first{
    font-size: 30px;
}
