* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

html, body {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
 
}

main{
    
    background-color: #d5ff54;
    position: relative;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
    padding: 30px;
    padding-left: 20px;
    text-decoration: none;
    
}
section{
    padding: 5px ;
}
.part2{
    display: flex;
    gap: 100px;
    font-size: 15px;
    color: black;
}
.part2:hover{
    color: crimson;
}
h3{
   padding-left: 30px;

}
h3:hover{
    color: crimson;
}
.herotext1{
   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}

.herotext1 h1{
    font-size: 95px;
    line-height: 130px;
    
}
.video{
    height: 100px;
    width: 300px;
    background-color: black;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 130px;
    background-image: url(https://images.unsplash.com/photo-1676147953668-df0364470330?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}
.herotext2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.h2{
    font-size: 50px;
    margin-left: 50px;
    margin-top: -30px;
}
.para{
    text-align: center;
    width: 400px;
    margin-right: 105px;
    /* background-color: black;
    border-radius: 20px; */
    margin-top: -30px;
    border-radius: 30px;
}
.para:hover{
    background-color: beige;
}
.para1{
    color: black;
    padding: 10px;
    
}
.play{
    height: 100%;
    width: 100px;
    border-radius: 50%;
   
    margin-left: 5px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.play i{
    font-size:50px ;
    color: white;
    display: flex;
    
}
.play i:hover {
  transform: scale(1.2);
  color: yellow; 
}
.img{
    height: 600px;
    width: 1200px;
     border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      z-index: 0;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;

    
    background-image: url(https://images.unsplash.com/photo-1745580623481-45433e5b4827?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.img1{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
/* .arrow1{
      height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(58, 52, 147);
  position: absolute;
  top: 50%;
  left: 85%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

} */
.arrow{
    position: relative;
 
z-index: 12;
color:white;
font-size: 40px;
   
   

}
a{
    color: black;
}
a:hover{
    color: crimson;
}
