html{
    background-color: black;
}
img{
    border: 3px solid white;
    width: 650px;
    align-items: center;
}
#div{
    margin-top: 150px;
    margin-left: 450px;
    margin-right:auto;
}
h3{
    color: white;
    width: 1200px;
    margin-left: -100px;
    font-size:200%;
    font-family: "Libre Baskerville", serif;
    margin-bottom: -20px;
    
    
}
#new{
    margin-left: -55px;
   width:2000px;
   font-family: "Libre Baskerville", serif;
}
#lorem{
    background: blue;
    color: aliceblue;
    justify-content: center;
}